### Extracting and Visualizing Stock Data

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\python 3.11\lib\site-packages (0.2.20)
Requirement already satisfied: pandas>=1.3.0 in c:\python 3.11\lib\site-packages (from yfinance) (2.0.2)
Requirement already satisfied: numpy>=1.16.5 in c:\python 3.11\lib\site-packages (from yfinance) (1.25.0)
Requirement already satisfied: requests>=2.26 in c:\python 3.11\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\python 3.11\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\python 3.11\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\python 3.11\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\python 3.11\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in c:\python 3.11\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: cryptography>=3.3.2 in c:\python 3.11\lib\site-packages (from yfinance) (41.0.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\python 3.11\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\python 3.11\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\python 3.11\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in c:\python 3.11\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\python 3.11\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\python 3.11\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python 3.11\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\python 3.11\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python 3.11\lib\site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python 3.11\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python 3.11\lib\site-packages (from requests>=2.26->yfinance) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\python 3.11\lib\site-packages (from requests>=2.26->yfinance) (2023.5.7)
Requirement already satisfied: pycparser in c:\python 3.11\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [3]:
!pip install bs4

Requirement already satisfied: bs4 in c:\python 3.11\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\python 3.11\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\python 3.11\lib\site-packages (from beautifulsoup4->bs4) (2.4.1)

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\python 3.11\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python 3.11\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python 3.11\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python 3.11\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\python 3.11\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\python 3.11\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
!pip install requests

Requirement already satisfied: requests in c:\python 3.11\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python 3.11\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\python 3.11\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python 3.11\lib\site-packages (from requests) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\python 3.11\lib\site-packages (from requests) (2023.5.7)

In [6]:
!pip install plotly

Requirement already satisfied: plotly in c:\python 3.11\lib\site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\python 3.11\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\python 3.11\lib\site-packages (from plotly) (23.1)

In [7]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [8]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

<span style="font-size: 24px">Question 1: Use Webscraping to Extract Tesla Revenue Data</span>

Using the <span style="background-color: lightgray">Ticker</span>
 function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is <span style="background-color: lightgray">TSLA</span>
.

In [9]:
tesla = yf.Ticker("TSLA")

In [10]:
tesla_data = tesla.history(period="max")

**Reset the index** using the <span style="background-color: lightgray">reset_index(inplace=True)</span>
function on the <span style="background-color: lightgray">tesla_data</span> DataFrame and display the first five rows of the tesla_data dataframe using the <span style="background-color: lightgray">head</span> function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [11]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

<span style="font-size: 24px">Question 2: Use Webscraping to Extract Tesla Revenue Dataspan>

Use the <span style="background-color: lightgray">requests</span>
 library to download the webpage https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue. Save the text of the response as a variable named <span style="background-color: lightgray">html_data</span>.

In [29]:
url= "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data=requests.get(url).text

Parse the html data using <span style="background-color: lightgray">beautiful_soup</span>.

In [30]:
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

Using beautiful soup extract the table with <span style="background-color: lightgray">Tesla Quarterly Revenue</span> and store it into a dataframe named <span style="background-color: lightgray">tesla_revenue</span>. The dataframe should have columns <span style="background-color: lightgray">Date</span> and <span style="background-color: lightgray">Revenue</span>. Make sure the comma and dollar sign is removed from the <span style="background-color: lightgray">Revenue</span> column.

In [34]:


tesla_revenue= pd.read_html(url, match="Tesla Quarterly Revenue", flavor='bs4')[0]
tesla_revenue=tesla_revenue.rename(columns = {'Tesla Quarterly Revenue(Millions of US $)': 'Date', 'Tesla Quarterly Revenue(Millions of US $).1': 'Revenue'}, inplace = False)
tesla_revenue.columns = ['Date', 'Revenue']
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(",","").str.replace("$","")
tesla_revenue.head()

         Date Revenue
0  2023-03-31   23329
1  2022-12-31   24318
2  2022-09-30   21454
3  2022-06-30   16934
4  2022-03-31   18756

<span style="font-size: 24px">Question 3: Use yfinance to Extract Stock Data</span>

Using the <span style="background-color: lightgray">Ticker</span> function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is <span style="background-color: lightgray">GME</span>.

In [35]:
gamestop = yf.Ticker("GME")

Using the ticker object and the function <span style="background-color: lightgray">history</span> extract stock information and save it in a dataframe named <span style="background-color: lightgray">gme_data</span>. Set the <span style="background-color: lightgray">period</span> parameter to <span style="background-color: lightgray">max</span> so we get information for the maximum amount of time.

In [36]:
gme_data=gamestop.history(period="max")

In [37]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

<span style="font-size: 24px">Question 4: Use Webscraping to Extract GME Revenue Data</span>

Use the <span style="background-color: lightgray">requests</span> library to download the webpage https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue. Save the text of the response as a variable named <span style="background-color: lightgray">html_data</span>.

In [38]:
url="https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data=requests.get(url).text

Parse the html data using <span style="background-color: lightgray">beautiful_soup</span>.

In [39]:
soup = BeautifulSoup(html_data,"html5lib")

In [43]:
gme_revenue= pd.read_html(url, match="GameStop Quarterly Revenue", flavor='bs4')[0]
gme_revenue=gme_revenue.rename(columns = {'GameStop Quarterly Revenue(Millions of US $)': 'Date', 'GameStop Quarterly Revenue(Millions of US $).1': 'Revenue'}, inplace = False)
gme_revenue.columns = ['Date', 'Revenue']
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(",","").str.replace("$","")

Display the last five rows of the gme_revenue dataframe using the tail function. Take a screenshot of the results.

In [44]:
gme_revenue.dropna(inplace=True)
gme_revenue.tail()

          Date Revenue
53  2010-01-31    3524
54  2009-10-31    1835
55  2009-07-31    1739
56  2009-04-30    1981
57  2009-01-31    3492

<span style="font-size: 24px">Question 5: Plot Tesla Stock Graph</span>

Use the <span style="background-color: lightgray">make_graph</span> function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the <span style="background-color: lightgray">make_graph</span> function is <span style="background-color: lightgray">make_graph(tesla_data, tesla_revenue, 'Tesla')</span>

In [ ]:
make_graph(tesla_data, tesla_revenue, 'Tesla Stock Data Graph')

<span style="font-size: 24px">
Question 6: Plot GameStop Stock Graph</span>

Use the <span style="background-color: lightgray">make_graph</span> function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the <span style="background-color: lightgray">make_graph</span> function is <span style="background-color: lightgray">make_graph(gme_data, gme_revenue, 'GameStop')</span>

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop Stock Data Graph')